/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

/*
font-family: "franklin-gothic-urw",sans-serif;
font-family: "franklin-gothic-urw-comp", sans-serif;
*/

body {
  background-image: url('../img/bg-tile.jpg');
  background-repeat: repeat;
  font-family: "franklin-gothic-urw", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
}

h1 {
  font-family: "franklin-gothic-urw-comp", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  color: #9F9F9F;
}

h2 {
  font-family: "franklin-gothic-urw-comp", sans-serif;
  font-size: 32px;
  color: #FFFFFF;
}

h3 {
  font-family: "franklin-gothic-urw-comp", sans-serif;
  font-size: 24px;
  color: #FFFFFF;
}

h4 {}

h5 {}

h6 {}

.img-width {
  width: 100% !important;
  height: auto !important;
}

.img-border {
  border: 12px solid rgba(255, 255, 255, 0.15);
}

.nextTo {
  display: inline;
  float: left;
}

.flight {
  display: inline;
  float: right;
  text-align: right;
}

#join {
  margin: 0;
}

.formosa {
  padding: 0 15px;
}

/* ==========================================================================
   Headers
   ========================================================================== */

div.page-header {
  /*margin: 20px auto;*/
}

div.banners:before {
  border: 20px solid rgba(255, 255, 255, 0.1);
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

div.banners {
  position: relative;
  background-image: url("../img/page-title-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 111px;
}

h1.bandit {
  padding: 35px 3%;
}

div.container-fluid.content {
  max-width: 1785px;
}

/* ==========================================================================
   Slider
   ========================================================================== */

div.slide:before {
  border: 10px solid rgba(255, 255, 255, 0.1);
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

div.slide {
  position: relative;
}

/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  height: auto;
  padding: 0;
  border: none!important;
  background: transparent!important;
  margin: 20px -15px;
}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  max-width: 100%;
  display: block;
  width: 100%!important;
  height: auto;
}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
/* IE rgba() hack */
.flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption {width: 96%; padding: 2%; position: absolute; left: 0; bottom: 0; background: rgba(0,0,0,.3); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 14px; line-height: 18px;}

/* Direction Nav */
.flex-direction-nav li a {width: 52px; height: 52px; margin: -13px 0 0; display: block; background: url('../img/bg_direction_nav.png') no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li .next {background-position: -52px 0; right: 2%;}
.flex-direction-nav li .prev {left: 2%;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -25px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; background: url('../img/bg_control_nav.png') no-repeat 0 0; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}


/* ==========================================================================
   Homepage
   ========================================================================== */

.slide {
  height: auto;
}

#bio {
  background-color: rgba(255, 255, 255, 0.1);
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

/*-------- ABOUT PAGE --------*/
div#about-content {
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}

div#about-short {
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 10px solid #79030b;
  margin: 15px;
}

div#about-short > div {
  font-family: "franklin-gothic-urw-comp", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  margin: 0 10px;
  padding: 10px 0;
}

div#about-body > p > a > img {
  width: 100% !important;
  height: auto !important;
  border: 12px solid rgba(255, 255, 255, 0.15);
}


/*-------- LISTN PAGE --------*/
div.player {
  background-color: rgba(255, 255, 255, 0.1) !important;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

div.art > img {
  border: 20px solid rgba(255, 255, 255, 0.1);
}


/*-------- CONCERTS PAGE --------*/
body.concerts tr:nth-child(1), tr:nth-child(2) {
  display: none;
}

div.next {
  background-color: rgb(17, 7, 7);
  margin: 20px;
}

div.concerto {
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 30px;
}

.bit-track-artist-header {
  border-top: 0px !importantimportant;
}


/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

/* ==========================================================================
   Albums
   ========================================================================== */
ul.songs-list {
  padding-left: 0px;
  list-style: none;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
.songs-list li {
  display: block;
  width: 100%;
  float: left;
  clear: both;
  background: rgba(255, 255, 255, 0.1);
}

/* ==========================================================================
   Navbars
   ========================================================================== */

div#head {
  width: 80%;
  margin: 0 auto;
}

header.banner {
  background-color: black;
  padding-top: 10px;
  height: 0 !important;
}

div.navbar-header > a > img {
  margin-top: -18px;
}

ul.nav a {
  display: inline-block;
  font-family: "franklin-gothic-urw-comp", sans-serif;
  text-transform: uppercase;
  font-size: 20px !important;
  color: #FFF !important;
}

ul.nav a:hover {
  color: #FFF !important;
}

ul.nav > li.active > a:after {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background: #79030b;
}

ul.nav a:after {
  content: '';
  display: block;
  height: 5px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

ul.nav a:hover:after {
  width: 100%;
  background: #79030b;
}

/*-------- MINI NAV --------*/
div.tri-link {
  text-decoration: none;
}

div.tri-link a{
  text-decoration: none;
}

div.mini {
  height: 50px;
  width: 100%;
  margin: 25px 0;
  text-decoration: none;
  text-align: center;
}

div.mini h2 {
  display: inline-block;
  width: auto;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  text-decoration: none;
}

div.mini h2:hover {
  color: #FFF !important;
  text-decoration: none;
}

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}

p.credits {
  text-transform: uppercase;
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

@media (max-width: 767px) {
  div.mini h2:hover {
    color: #FFF !important;
    text-decoration: none;
  }

  div.mini h2:after {
    content: '';
    display: block;
    height: 5px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    text-decoration: none;
  }

  div.mini h2:hover:after {
    width: 100%;
    background: #79030b;
    text-decoration: none;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .flex-direction-nav li .next {right: 18%;}
  .flex-direction-nav li .prev {left: 18%;}

  div.slide:before {
    border: 20px solid rgba(255, 255, 255, 0.1);
  }

  div.tri-link {
    position: relative;
    background-image: url("../img/filigree-sprite.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    height: 0;
    padding-bottom: 13.7%;
  }

  div.tri-link:hover {
    background-position: center bottom;
  }

  div.mini h2 {
    font-size: 35px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1.bandit {
    padding: 15px 3%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) { }
