/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

body { }



/* ==========================================================================
   Headers
   ========================================================================== */

.banner { }

div.banners {
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 112px;
}

h1.bandit {
  vertical-align: middle;
  margin: auto 0;
}


/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Navbar
   ========================================================================== */

ul.nav a {
  display: inline-block;
}

ul.nav > li.active > a:after {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background: #79030b;
}

ul.nav a:after {
  content: '';
  display: block;
  height: 5px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

ul.nav a:hover:after {
  width: 100%;
  background: #79030b;
}

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) { }
